.headingSection
{
    position: relative;
    margin-top: 40px;
    pointer-events: none;
}
#Headings
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; font-family: 'Montserrat',sans-serif;
    transition: 0.9s ease;
   
}
#BackText
{
    position: absolute;
    font-size: 14vh;
    /* font-family: 'Montserrat',sans-serif; */
    font-family: 'Rubik Mono One',sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgb(165, 164, 164);
    opacity: .3;
    z-index: 1;
    user-select: none;
}
#FrontText
{
    font-size:5vh ;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 1;
    color: var(--lightText);
}

/* #BackText
{
    font-size:150px;
    font-family: 'Montserrat',sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px rgb(165, 164, 164);
    opacity: .5;
    font-weight: 1000;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    line-height: 1;
    
}
#FrontText
{
    position: absolute;
    font: 8vh 'Montserrat',sans-serif;
    font-weight: 600;
    top: 50%;

    text-transform: uppercase;
    left:0;
     
} */

@media screen and (max-width:900px) {
    #Headings
    {
        align-items: center;
        justify-content: center;
    }
    #BackText
    {
        font-size: 4vh;
    }
}