.nav
{   position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width:100vw;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5%; */
    background: rgba(255, 255, 255, 0.541);
    /* box-shadow: 0 0 5px 0 #0000007f; */
    transition: 0.4s ease-in-out;
    z-index: 1000;

}
.shrinkedNav
{
    box-shadow: 0 0 5px 0 #0000007f;
    height: 70px;
    background: #fff;;
    color: #000 !important;
}
.navLogo
{
    height: 60px;
    width: 60px;
    margin-left: 12px;
}
.hamburgerMenu
{
    width: fit-content;
    height: fit-content;
    display: none;
    flex-direction: column;   
    justify-content: center;
    position: relative;
    /* border: 1px solid #000; */
    padding: 8px 12px;
}
.hamburgerMenu>span 
   {
    width: 30px;
    height: 3px !important;    
    background-color: var(--lightText);
    margin: 3px 0;
    transition: 0.5s ease;

}
.hamburgerMenu>span:nth-of-type(1) 
{
    width: 15px;
    position: relative;
    
}
.hamburgerMenu>span:nth-of-type(3) 
{
    width: 15px;
    position: relative;
    transform: translateX(15px);
   
}
.hamburgerMenu:hover  #_1,.hamburgerMenu:focus  #_1
{
    transform: translateX(15px);
    transition: 0.6s ease;

}
.hamburgerMenu:hover  #_3, .hamburgerMenu:focus #_3
{
    transform: translateX(0);
    transition: 0.6s ease;

}
#closeBtn, #brandName
{
    display: none;
}
.menu
{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10%;

}
.menuItem
{
    margin: 0 8px;
    font-family: Poppins,sans-serif;
    text-decoration: none;
    color:#000;
    font-weight: 400;
}
.menuItem>span
{
    display: none;
}
.menuItem:hover
{
    color: var(--primary);
}

.navSocials
{
    display: none;
}


@media screen and (max-width:1100px) {
    .nav
    {
        position: absolute;
        /* max-width: 60vw; */
    }
    .hamburgerMenu
    {
        display: flex;
        position: fixed;
        top: 20px;
        right: 20px;
        transition: 0.8s ease;
    }
    #closeBtn
    {
        display: block;
    }
    .menu
    {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh !important;   
        width: 0; 
        position: fixed !important;
        left: -110%;
        top: 0;
        background: var(--lightText);
        padding-top: 170px;
        display: flex;
        transition: 0.5s ease;
        z-index: 999;
    }
    .menuItem
    {
        color: var(--darkText);
        font-weight: 400;
        margin: 8px 0;
        margin-left: 40px;
        font-size: 18px;
    }
    .menuItem::before
    {
        display: inline-block;
        
        margin-right: 18px;
        background-color: #777575;
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
    
    }
    #closeBtn,#brandName
    {
        color: var(--darkText);
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 31px;
        cursor: pointer;
    }
    #brandName
    {
        left: 20px;
        color: var(--primary) ;
    }
    .open
    {
        width: 250px;
        left: 0;        
        transition: 0.5s ease !important;
    }
    .shrink
    {
        transform: scale(0);
        transition: 0.3s ease;
        transition-delay: 300ms;
    }
    .navSocials
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .navSocials>*
    {
        margin: 0 12px;
    }
}