.LandingSection
{
    height: 100vh;
    /* background:url(https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80) rgba(0, 0, 0, 0.103); */
    background: #fff;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: bottom;
}
.profileName
{
    font-size: 8vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 12px;color: var(--primary);
    margin-bottom: 21px;
}
.profileName>span
{
    -webkit-text-stroke:2px var(--primary);
    color: transparent;
}
.profileName>h5
{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    color: #000;
    margin: 12px 0;
    
}
.profileImage 
{
    width: 100%;
    height:100%;  
    background: var(--background);
    background-blend-mode: normal;
    background-size: cover;
    background-repeat: no-repeat;
}

.profileDetails,.profileImage
{
    width: 50vw;
    height: 100%;
}
.profileDetails
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
  
}
.profileDetails>*
{
    margin: 0 auto;
}

#landingSocials
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: max-content;
}
.landingSocialIcon
{
    margin: 16px;
    cursor: pointer;
}
#landingSocials::after
{
    content: " ";
    display: inline-block;
   /* position: absolute; */
    width: 1px;
    height: 60px;
    margin: 0px auto;
    background-color: #000;
    animation: scroll 1s infinite;
}

@keyframes scroll {
    0%
    {
        transform: translateY(0);
        
    }
    to
    {
        transform: translateY(20px);
        
    }
    
}
@media screen and (max-width:1100px)

{
    .profileImage
    {
        display: none;
    }
    .profileDetails
    {
        width: 100%;
        background:  var(--background);
        background-blend-mode: overlay;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width:600px) {
    .profileName
    {
        font-size: 7vh;
        max-width: 90vw;
        
    }
    #landingSocials
    {
        flex-direction: row;
        bottom: 5px;
        left: 20px;
    }
    #landingSocials::after
    {
       display: none;
    }
}
