.AboutSection
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
    min-height: 90vh;
}
.aboutImage
{
    display: grid;
    place-items: center;
}
.aboutImage>img
{
    width: 80%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
    animation: scrollUpDown 5s infinite;
    
}
.aboutImage>img:hover
{
    transform: scale(1.01);
    transition: 0.5s ease-in-out;
}
.aboutPara
{
    margin-top: 40px;
    color: var(--lightText);
}
.aboutPara::before
{
    content: '';
    display: block;
    height: 1px;
    width: 90%;
    background: gray;
    opacity: .5;
    margin: 25px 0;
}

@keyframes scrollUpDown {
    0%
    {
        transform: translateY(-10px);
    }
    50%
    {
        transform: translateY(0);box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    100%
    {
        transform: translateY(-10px);
    }
    
}

@media screen and (max-width:700px) {
    .aboutPara
    {
     
        width: 90vw;
        margin: 30px auto;
    }
    .aboutButton
    {
        width: 90vw;
        text-align: center;
       
    }    

}